body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

p {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', sans-serif;
        
}

.event-description {
    font-family: 'Bebas Neue', sans-serif;
}



.navbar-brand {
    font-family: 'Bebas Neue', sans-serif;
}

.navbar-nav {
    font-family: 'Roboto', sans-serif;
}

.vertical-center {
    vertical-align: middle;
}

main {
    flex: 1 0 auto;
}

.navbar {
    background-color: #0a4275 !important;
}

.footer {
    background-color: #0a4275 !important;
}

.alert {
    margin-bottom: 0;
    border-radius: 0;
}

.card {
    width: 18rem;
    box-shadow: 5px 10px 8px #888888;
    border: 2px solid;
    
}

/* .home-bg-img {
    background: url("/static/images/wmc.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    height: 85vh;
    width: 100%;
    z-index: -1;
    
} */

 
/* Home Page */

.callout-container {
    height: 100vh;
    background: url('/static/images/wmc.jpg') no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    pointer-events: none;
}

/* Datepicker */
.input-group-append {
    cursor: pointer;
}

.card-container {
    display: flex;
    justify-content: center;
}

#event-container {
    width: 50%;
}

@media only screen and (max-width: 850px) {
    #event-container {
        width: 75%;
    }
}


#login-container {
    width: 50%;
}

@media only screen and (max-width: 850px) {
    #login-container {
        width: 75%;
    }
}

#signup-container {
    width: 50%;
}

@media only screen and (max-width: 850px) {
    #signup-container {
        width: 75%;
    }
}