/* General */


body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

p {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', sans-serif;
        
}


/* Flash Messages / Alert */

.alert {
    border-radius: 0;
    margin-bottom: 0;
}


/* Nav and footer */

.navbar-brand {
    font-family: 'Bebas Neue', sans-serif;
}

.navbar-nav {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #0a4275 !important;
}

.footer {
    background-color: #0a4275 !important;
}

main {
    flex: 1 0 auto;
}


/* Home Page */

.callout-container {
    align-items: center;
    background: url('/static/images/wmc.jpg') no-repeat bottom center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.opaque-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    left: 0%;
    top: 0%;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 1;
}

/* Event info */

.event-description {
    font-family: 'Bebas Neue', sans-serif;
}



/* Event Cards */


.card {
    
    border: 2px solid;
    box-shadow: 5px 10px 8px #888888;
    width: 18rem;
}

#event-title {
    color: #000;
}

.card-container {
    display: flex;
    justify-content: center;
}

 
/* Datepicker */

.input-group-append {
    cursor: pointer;
}


/* Event Info Container / Login / Signup forms Sizing */

#event-container {
    width: 50%;
}

@media only screen and (max-width: 850px) {
    #event-container {
        width: 75%;
    }
}


#login-container {
    width: 50%;
}

@media only screen and (max-width: 850px) {
    #login-container {
        width: 75%;
    }
}

#signup-container {
    width: 50%;
}

@media only screen and (max-width: 850px) {
    #signup-container {
        width: 75%;
    }
}