body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.vertical-center {
    vertical-align: middle;
}

main {
    flex: 1 0 auto;
}

.navbar {
    background-color: #0a4275 !important;
}

.footer {
    background-color: #0a4275 !important;
}

.home-bg-img {
    background-image: url("/live_music_cardiff/static/images/wmc.jpg");
}

/* Datepicker */
.input-group-append {
    cursor: pointer;
}