{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center pt-5">Add Event</h1>
    <div class="row">
        <div class="col-12">
            <form method="POST" action="{{ url_for('add_event') }}">
                <div class="container center-align">
                    <!-- Event Title -->
                    <div class="mb-3">
                        <label for="title" class="form-label">Event Title</label>
                        <input type="text" class="form-control" name="title" id="title" aria-describedby="event title" required>
                    </div>
                    <!-- Datepicker (code from https://codepen.io/vsfvjiuv-the-typescripter/pen/mdMeJwL)-->
                    <label for="date" class="col-1 col-form-label">Date</label>
                    <div class="col-5">
                        <div class="input-group date" id="datepicker">
                            <input type="text" class="form-control" id="date" name="date" />
                            <span class="input-group-text bg-light d-block">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                    <!-- Time -->
                    <div class="mb-3">
                    <label for="time" class="col-1 col-form-label">Start Time</label>
                    <input class="timepicker text-center" name="time" id="time" jt-timepicker="" time="model.time" time-string="model.timeString"
                        default-time="model.options.defaultTime" time-format="model.options.timeFormat" start-time="model.options.startTime"
                        min-time="model.options.minTime" max-time="model.options.maxTime" interval="model.options.interval"
                        dynamic="model.options.dynamic" scrollbar="model.options.scrollbar" dropdown="model.options.dropdown" required>
                    </div>
                    <!-- Venue -->
                    <div class="mb-3">
                        <label for="venue" class="form-label">Venue</label>
                        <input type="text" class="form-control" name="venue" id="venue" aria-describedby="venue">
                    </div>
                    <!-- Postcode -->
                    <div class="mb-3">
                        <label for="postcode" class="form-label">Postcode</label>
                        <input type="text" class="form-control" name="postcode" id="postcode" aria-describedby="venue">
                    </div>
                    <!-- Description -->
                    <div class="mb-3">
                        <label for="postcode" class="form-label">Event Description</label>
                        <textarea name="description" id="description" class="form-control" cols="30" rows="10"></textarea>
                    </div>
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary">
                        Submit <i class="fas fa-plus-square"-></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
    {% endblock %}