{% extends "base.html" %}

{% block content %}
    <form>
        <div class="container center-align">
            <div class="mb-3">
                <label for="title" class="form-label">Event Title</label>
                <input type="text" class="form-control" name="title" id="title" aria-describedby="event title"> 
            </div>
                
                    <label for="date" class="col-1 col-form-label">Date</label>
                    <div class="col-5">
                        <div class="input-group date" id="datepicker">
                            <input type="text" class="form-control" id="date" />
                            <span class="input-group-append">
                                <span class="input-group-text bg-light d-block">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </span>
                        </div>
                    </div>
            <div class="mb-3">
                <label for="venue" class="form-label">Venue</label>
                <input type="text" class="form-control" name="venue" id="venue" aria-describedby="venue">
            </div>
            <div class="mb-3">
                <label for="postcode" class="form-label">Postcode</label>
                <input type="text" class="form-control" name="postcode" id="postcode" aria-describedby="venue">
            </div>
            <div class="mb-3">
                <label for="postcode" class="form-label">Event Description</label>
                <textarea name="description" id="description" class="form-control" cols="30" rows="10"></textarea>
            </div>
        
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
{% endblock %}