{% extends "base.html" %}

{% block content %}

<h1 class="text-center">All Events</h1>
<div class="container row">
    {% for event in event %}
    <div class="col-sm-12 col-md-6 col-lg-4 justify-content-center">
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <h5 class="card-title">{{ event.title }}</h5>
                <p class="card-text">{{ event.date }}</p>
                <p class="card-text">{{ event.venue }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}