{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1 class="text-center pt-5">All Events</h1>
    <div class="row">
        {% for event in event %}
        <div class="col-sm-12 col-md-6 col-lg-4 pt-5 pb-5 card-container">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title" id="event-title"><a href="{{ url_for('event', event_id=event.id) }}" >{{ event.title }}</a></h5>
                    <p class="card-text">{{ event.date.strftime('%A, %d %B %Y') }}</p>
                    <p class="card-text">{{ event.venue }}, {{ event.postcode }}</p>
                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}



