{% extends "base.html" %}

{% block content %}

<div class="container" id="event-container">
    <h1 class="text-center pt-5">Event Details</h1>
    <div class="row pt-5">
        <div class="col">
            <h6>Event: </h6>
            <hr>
            <h3>{{ event.title }}</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h6>Venue:</h6>
            <hr>
            <h3>{{ event.venue }}</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h6>Postcode:</h6>
            <hr>
            <h3>{{ event.postcode }}</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h6>Date:</h6>
            <hr>
            <h3>{{ event.date.strftime('%A, %d %B %Y') }}</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h6>Description:</h6>
            <hr>
            <p class="event-description">{{ event.description }}</p>
            <hr>
        </div>
    </div>
</div>

{% endblock %}