{% extends "base.html" %} 
{% block content %}

<div class="container-fluid callout-container">
    <div class="opaque-overlay">&nbsp;</div>
    <div class="row">
        <div class="col-12 jumbotron-bg">
            <!-- jumbotron -->
            {% if user.is_authenticated %}
            <section class="callout text-center mt-4 p-5 text-white rounded jumbotron">
                <h2 class="jumbotron-header">Live Music Cardiff</h2>
                <hr class="block-divider">
                <h3 class="">Welcome {{ user.first_name }}</h3>
                <p>Your guide to live music in Wales' Capital</p>
                <a class="btn btn-outline-light btn-rounded" href="{{ url_for('add_event') }}">Add Event</a>
            </section>
            {% else %}
            <section class="callout text-center mt-4 p-5 text-white rounded jumbotron">
                <h2 class="jumbotron-header">Live Music Cardiff</h2>
                <hr class="block-divider">
                <p>Your guide to live music in Wales' Capital</p>
                <a href="{{ url_for('login')}}" class="btn btn-outline-light btn-rounded">Login</a>
            </section>
            {% endif %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 mt-5 mb-5 text-center">
            <h1>How It Works</h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-12 col-md-4 p-2">
            <i class="fa fa-calendar home-icon pb-3"></i>
            <p>
            Browse events. <br> Anyone can view upcoming events, no need to sign up!
            </p>
        </div>
        <div class="col-sm-12 col-md-4 p-2">
            <i class="fa fa-user-plus home-icon pb-3"></i>
            <p>
            Want to promote an event? <br> Create an account and get listing.
            </p>
        </div>
        <div class="col-sm-12 col-md-4 p-2 mb-5">
            <i class="fa fa-calendar-plus home-icon pb-3"></i>
            <p>
            Add your event!  <br>
            Open mic nights, unsigned bands, the biggest gigs. <br> 
            All events are welcome!
            </p>
        </div>
    </div>
</div>

{% endblock %}

