{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1 class="text-center pt-5">{{ user.first_name }}'s Events</h1>
    <div class="row">
        {% for user_event in user_events %}
        <div class="col-sm-12 col-md-6 col-lg-4 pt-5 pb-5 card-container">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ user_event.title }}</h5>
                    <p class="card-text">{{ user_event.date.strftime('%A, %d %B %Y') }}</p>
                    <p class="card-text">{{ user_event.time }}</p>
                    <p class="card-text">{{ user_event.venue }}</p>
                    <a href="{{ url_for('edit_event', event_id=user_event.id) }}" class="btn btn-primary">Edit</a>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal-{{ user_event.id }}">
                        Delete
                    </button>
                </div>
            </div>
        </div>
   




    <!-- Confirm Delete Modal -->
    <div class="modal fade" id="delete-modal-{{ user_event.id }}" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Are you sure?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Clicking 'delete' will permanently delete this event!!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Go Back</button>
                    <a href="{{ url_for('delete_event', event_id=user_event.id) }}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>

{% endblock %}